################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
**/obj
**/bin
/.vs
/.idea
*.user
*.nupkg
*.DotSettings

__azurite_db_*.json

.dccache