################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
**/obj
**/bin
/.vs
*.user
*.nupkg

__azurite_db_table__.json